.page2-content {
  width: 600px;
  text-align: left;
  margin: 0 auto;
  padding-bottom: 50px;
  h2 {
    font-weight: 400;
    font-size: 44px;
    line-height: 140%;
    color: #212121;
  }
  p {
    font-size: 14px;
    line-height: 20px;
    color: #6d7175;
  }
  a {
    background: #ecf4ff;
    border: 1px solid #0b3d88;
    box-shadow: 3px 3px 0px rgba(11, 61, 136, 0.24);
    border-radius: 3px;
    color: #0b3d88;
    display: block;
    padding: 10px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
  }
  form {
    display: flex;
    flex-direction: column;
    label {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #212121;
    }
    .select-item {
      display: flex;
      align-items: center;
      padding: 12px 16px;
      &.active {
        background: #fff;
      }
      img {
        width: 32px;
        height: 32px;
      }
      label {
        margin-left: 10px;
      }
      input {
        margin-left: auto;
        width: 16px;
        height: 16px;
      }
    }
    input {
      border: 1px solid #e0e0e0;
      padding: 10px 18px;
      border-radius: 4px;
      font-weight: 500;
      font-size: 14px;
      outline: none;
      &.submit-btn {
        width: auto;
        margin-left: auto;
        margin-top: 40px;
        background: #1f58eb;
        border-radius: 4px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        border: none;
        padding: 10px 18px;
        &.disabled {
          opacity: 0.5;
        }
      }
    }
    iframe {
        margin-top: 8px;
    }
  }
  .show-select-btn {
      span {
          color: #2962FF;
          cursor: pointer;
      }
  }
}
