.page2-content {
  h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #042659;
    margin-top: 0;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #808080;
    margin-top: 0;
    margin-bottom: 4px;
  }
  #form-example {
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(10, 31, 68, 0.21);
    margin-top: 32px;
    &:first-child {
      margin-top: 12px;
    }
    label {
      margin-top: 12px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #212121;
      margin-bottom: 4px;
      &.input-image {
        margin-top: 4px;
        height: 150px;
        background-size: auto 50%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        border: 1px dashed #808080;
        border-radius: 4px;
        input {
          display: none;
        }
        div {
          position: absolute;
          height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .image-ads {
            height: 150px;
            width: auto;
          }
          &:hover .remove-image {
            display: block;
          }
        }
        .remove-image {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: none;
          border: none;
          display: none;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
      &.input-video {
        margin-top: 4px;
        height: 150px;
        background-size: auto 50%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        border: 1px dashed #808080;
        border-radius: 4px;
        input {
          display: none;
        }
        div {
          position: absolute;
          height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .video-ads {
            height: 150px;
            width: auto;
          }
          &:hover .remove-video {
            display: block;
          }
        }
        .remove-video {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: none;
          border: none;
          display: none;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
    & > label:first-child {
      padding-bottom: 12px;
      border-bottom: 1px solid #d9d9d9;
      margin-top: 0px;
    }
  }
  .input-group {
    display: flex;
    input {
      &:first-child {
        margin-right: 20px;
      }
    }
  }
  .input-items {
    display: flex;
    flex-direction: column;
  }
  #use-video,
  #use-image {
    margin-right: 8px;
  }
}
